body {
	min-width: 800px;
}

#map,
#nav {
	position: absolute;
	top: 50px;
	bottom: 0;
}

#map {
	left: 0;
	right: 260px;
}

#nav {
	right: 0;
	width: 260px;
	background: #eee;
}

.options,
.controls {
	padding: 0 14px;
	margin-bottom: 2em;
}

.timer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	z-index: 10000;
	font-size: 200px;
	width: 1em;
	height: 1em;
	float: left;
}

.timer>.percent {
	position: absolute;
	top: 1.05em;
	left: 6px;
	width: 3.33em;
	font-size: 0.22em;
	text-align: center;
}

.timer>#slice {
	position: absolute;
	width: 1em;
	height: 1em;
	clip: rect(0px, 1em, 1em, 0.5em);
	-webkit-animation: pulsate 1s ease-out infinite;
	-moz-animation: spin 1s ease-out infinite;
	-ms-animation: spin 1s ease-out infinite;
	-o-animation: spin 1s ease-out infinite;
	animation: spin 1s ease-out infinite;
}

.timer>#slice.gt50 {
	clip: rect(auto, auto, auto, auto);
}

.timer>#slice>.pie {
	border: 0.1em solid #4292C6;
	position: absolute;
	width: 0.8em; /* 1 - (2 * border width) */
	height: 0.8em; /* 1 - (2 * border width) */
	clip: rect(0em, 0.5em, 1em, 0em);
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.timer>#slice>.pie.fill {
	-moz-transform: rotate(180deg) !important;
	-webkit-transform: rotate(180deg) !important;
	-o-transform: rotate(180deg) !important;
	transform: rotate(180deg) !important;
}

@-webkit-keyframes pulsate {
    from { opacity: 0.4; }
    50% { opacity: 0.9; }
    to { opacity: 0.4; }
}
@-moz-keyframes spin {
    from { opacity: 0.4; }
    50% { opacity: 0.9; }
    to { opacity: 0.4; }
}
@-ms-keyframes spin {
    from { opacity: 0.4; }
    50% { opacity: 0.9; }
    to { opacity: 0.4; }
}
@-o-keyframes spin {
    from { opacity: 0.4; }
    50% { opacity: 0.9; }
    to { opacity: 0.4; }
}
@keyframes spin {
    from { opacity: 0.4; }
    50% { opacity: 0.9; }
    to { opacity: 0.4; }
}

.ajax-loader {
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}
@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}
@-o-keyframes spin {
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: 0.4; }
}
@keyframes spin {
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}
